<% provide(:title,current_user.name) %>

<h1><%= current_user.name %>のタスク一覧</h1>
 <div class= "row" >
   
   <table class="table table-hover" id="table-tasks">
    <thead>
     <tr>
      <th>名称</th>
      <th>作成日</th>
     </tr> 
    </thead>
    
    <tbody>
     <% @tasks.each do |task| %>
     <tr>
      <td><%= task.name %></td>
      <td><%= task.created_at %></td>
      <td><%= link_to "編集", edit_user_task_path(@user,task), class: "btn btn-lg btn-success" %></td>
      <td><%= link_to "削除", user_task_path(@user,task), method: :delete, class: "btn btn-lg btn-danger" %></td>
      <td></td>
     </tr>
     <% end %>
    </tbody>
   </table>
 </div>