<% provide(:title, @user.name) %>

<h1>プロフィール</h1>
<div class= "row" >
   
   <table class="table table-bordered" id="table-users">
    <tbody>
    <tr>
      <th class="active col-md-2"><%= User.human_attribute_name :id %></th>
      <td><%= @user.id %></td>
    </tr>  
    <tr>
      <th class="active col-md-2"><%= User.human_attribute_name :name %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th class="active col-md-2"><%= User.human_attribute_name :email %></th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th class="active col-md-2"><%= User.human_attribute_name :created_at %></th>
      <td><%=  @user.created_at %></td>
    </tr>
    
     
    </tbody>
   </table>
 </div>